/*** Form styles begin ***/
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.text-danger.validation-message {
  font-size: .8rem;
}
/*** Form styles end ***/

/*** Button styles begin ***/
button {
  margin-top: .5rem;
}

button + button {
  margin-left: .25rem;
}
/*** Button styles end ***/

/*** Accordion styles begin ***/
.accordion-button {
  margin-top: 0;
}

.accordion-header_wrapper {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.accordion-header_title {
}

.accordion-header_subtitle {
  flex: 1; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shipment-data_label {
  font-weight: 600;
}
/*** Accordion styles end  ***/